<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SauceDemo Simple Suite">
    <test name="SauceDemo Login Flow Tests">
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.ProductsTest" />
            <class name="tests.CartAndCheckoutTest" />
        </classes>
    </test>
</suite>